@import "@/styles/theme/mixin.scss";

.commonbutton {
  background: var(--gradientbuttonfilled);
  border-radius: 60px;
  padding: 14px 30px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 1024px) {
    padding: 13px 20px;
  }

  &.commonbuttonslim {
    padding: 11px 20px;

    @media (max-width: 576px) {
      padding: 8px 15px;
    }
  }

  svg {
    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
    }
  }

  span {
    @include font16;
    text-transform: uppercase;
    color: var(--white);
  }

  &:hover {
    background: var(--gradientbuttonfilled);
  }
}
