@import "@/styles/theme/mixin.scss";

.detctaisectionmain {
  padding-bottom: 120px;

  @media (max-width: 1024px) {
    padding-bottom: 100px;
  }

  @media (max-width: 768px) {
    padding-bottom: 60px;
  }
  .detctaisectiontitle {
    max-width: 1198px;
    margin: 0 auto;

    h1 {
      @include font40;
      @include fontgradient;
      text-align: center;

      @media (max-width: 1024px) {
        @include font45;
      }
      @media (max-width: 768px) {
        @include font40;
      }
      @media (max-width: 576px) {
        @include font33;
      }
    }

    p {
      margin: 16px 0 0 0;
      @include font18;
      text-align: center;
      color: var(--lightgray2);

      @media (max-width: 576px) {
        @include font16;
      }
    }
  }

  .detctaisectiongrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    gap: 28px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .detectaicardmainparent {
      position: relative;

      .detectaicardcircleright {
        position: absolute;
        top: 50%;
        right: -29px;
        z-index: 3;
        content: "";
        border-radius: 50%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        background: var(--gradientedtext);

        @media (max-width: 768px) {
          right: 50%;
          bottom: -29px;
          top: auto;
          transform: translate(10px, 0);
        }
      }
      .detectaicardcircleleft {
        position: absolute;
        top: 50%;
        left: -29px;
        z-index: 3;
        content: "";
        border-radius: 50%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        background: var(--gradientedtext);

        @media (max-width: 1024px) {
          display: none;
        }
        @media (max-width: 768px) {
          display: block;
          right: 50%;
          bottom: auto;
          top: -29px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      .detectaicardmain {
        height: 100%;
        position: relative;
        padding: 1px;

        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: var(--lightpink);
          z-index: 1;
          content: "";
          border-radius: 0 0 32px 32px;

          @media (max-width: 768px) {
            width: 50%;
            height: 100%;
            border-radius: 32px 0 0 32px;
          }
        }
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: var(--lightblue);
          z-index: 1;
          content: "";
          border-radius: 32px 32px 0 0;

          @media (max-width: 768px) {
            width: 50%;
            height: 100%;
            right: 0;
            left: auto;
            border-radius: 0 32px 32px 0;
          }
        }
      }
      .detectaicardmainsc {
        height: 100%;
        position: relative;
        padding: 1px;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: var(--lightpink);
          z-index: 1;
          content: "";
          border-radius: 32px 32px 0 0;

          @media (max-width: 768px) {
            left: auto;
            right: 0;
            width: 50%;
            height: 100%;
            border-radius: 0 32px 32px 0;
          }
        }
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: var(--lightblue);
          z-index: 1;
          content: "";
          border-radius: 0 0 32px 32px;

          @media (max-width: 768px) {
            right: auto;
            left: 0;
            width: 50%;
            height: 100%;
            border-radius: 32px 0 0 32px;
          }
        }
      }
      .detectaicard {
        position: relative;
        z-index: 2;
        border-radius: 32px;
        height: 100%;
        background-color: var(--bodyblack);
        padding: 20px;

        .detectcardcontentbox {
          background: var(--darkblue);
          border-radius: 32px;
          height: 100%;
          padding: 40px 25px 51px 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          .detectcardsiconbox {
            box-shadow: 0px 0px 20px 0px var(--lightcyan);
            border: 1px solid var(--lightblue);
            background-color: var(--darkblue);
            border-radius: 22px;
            padding: 20px;
            width: fit-content;
            margin: 0 auto 50px auto;

            @media (max-width: 768px) {
              margin: 0 auto 25px auto;
              padding: 15px;
            }

            svg {
              width: 60px;
              height: 60px;

              @media (max-width: 768px) {
                width: 50px;
                height: 50px;
              }

              @media (max-width: 576px) {
                width: 40px;
                height: 40px;
              }
            }
          }

          h3 {
            @include font22;
            text-align: center;
            color: var(--white);
          }

          p {
            @include font16;
            text-align: center;
            color: var(--lightgray2);
            margin-top: 20px;
          }
        }
      }
    }
  }
}
