@import "@/styles/theme/mixin.scss";

.regularupdatesectionmain {
  padding: 120px 0;
  background: var(--darkblue);
  border-radius: 30px;
  margin: 0 20px;

  @media (max-width: 1024px) {
    padding: 100px 0;
  }

  @media (max-width: 768px) {
    padding: 60px 0;
  }

  .regularupdatesection {
    .regularupdatesectiontitle {
      h1 {
        @include font40;
        text-align: center;
        @include fontgradient;

        @media (max-width: 1024px) {
          @include font45;
        }
        @media (max-width: 768px) {
          @include font40;
        }
        @media (max-width: 576px) {
          @include font33;
        }
      }
    }

    .regularupdatesectioncardsgrd {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin: 60px 0 0 0;
      
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        margin: 40px 0 0 0;
      }
      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
        margin: 30px 0 0 0;
      }

      .regularupdatecard:last-child {
        @media (max-width:1024px) {
          grid-column: span 2;
          width: calc(50% - 15px);
          margin: 0 auto;
        }
        @media (max-width:576px) {
          grid-column: span 1;
          width: 100%;
        }
      }

      .regularupdatecard {
        .regularupdatecardimage {
          height: auto;
          border-radius: 20px;
          object-fit: fill;
          margin: 0 0 14px 0;
          
          @media (max-width: 768px) {
            border-radius: 18px;
          }
          @media (max-width:576px) {
            border-radius: 0;
          }
        }

        .regularupdatecardcontent {
          .regularupdatecardnameanddate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            margin: 0 0 8px 0;

            p,span {
              @include font18;
              color: var(--lightgray4);
            }
          }

          .regularupdatecardparagraph {
            margin: 0 0 22px 0;

            @media (max-width: 576px) {
              margin: 0;
            }

            p {
              @include font20;
              color: var(--white);

              @media (max-width:576px) {
                margin: 0 0 10px 0;
                @include font18;
              }
            }
          }

          .readmorelink {
            @include font16;
            color: var(--white);
            cursor: pointer;
            text-decoration-line: underline;
          }
        }
      }
    }
  }
}
