.whychoosesectionmain {
  padding: 120px 0;

  @media (max-width: 1024px) {
    padding: 100px 0;
  }

  @media (max-width: 768px) {
    padding: 60px 0;
  }

  .whychoosetitle {
    display: none;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    background: -webkit-linear-gradient(180deg, #bfabff 0%, #efebff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 768px) {
      display: block;
    }
    @media (max-width: 576px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .whychoosesection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
    @media (max-width: 768px) {
      margin: 30px 0 0 0;
      gap: 15px;
    }

    .circleimage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .whychooseverticleflx {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 80px;
      width: 100%;
      max-width: 480px;

      @media (max-width: 1024px) {
        flex-direction: row;
        max-width: none;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
      }

      .whychoosecardbox {
        background: #0e1020;
        border: 1px solid #2f354b;
        border-radius: 20px;
        padding: 30px;

        .whychoosecardboxtitle {
          display: grid;
          grid-template-columns: 80px 1fr;
          gap: 24px;
          align-items: center;
          margin: 0 0 30px 0;

          .whychoosecardboxtitleicon {
            padding: 20px;
            border-radius: 50%;
            background: linear-gradient(85.93deg, #00c0ff 0%, #4218b8 100%);

            svg {
              width: 40px;
              height: 40px;
            }
          }

          h4 {
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            color: #fff;
          }
        }

        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          color: #bfbfbf;
        }
      }
    }

    .whychoosetitle {
      z-index: 2;
      position: relative;
      max-width: 377px;

      h1 {
        font-size: 50px;
        font-weight: 600;
        line-height: 70px;
        text-align: center;
        background: -webkit-linear-gradient(180deg, #bfabff 0%, #efebff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 1024px) {
          font-size: 35px;
          line-height: 45px;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
