@import "@/styles/theme/mixin.scss";

.whychoosesectionmain {
  padding: 120px 0;

  @media (max-width: 1024px) {
    padding: 100px 0;
  }

  @media (max-width: 768px) {
    padding: 60px 0;
  }

  .whychoosetitlemobile {
    display: none;
    @include font35;
    text-align: center;
    @include fontgradient;

    @media (max-width: 1024px) {
      display: block;
    }
    @media (max-width: 576px) {
      @include font30;
    }
  }

  .whychoosesection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 15px;
      margin: 30px 0 0 0;
    }

    .circleimage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      display: none;
    }

    .whychooseverticleflx {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 80px;
      width: 100%;
      max-width: 480px;

      @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        max-width: none;
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .whychoosecardbox {
        background: var(--darkblue2);
        border: 1px solid var(--lightblue);
        border-radius: 20px;
        padding: 30px;

        @media (max-width: 768px) {
          padding: 20px;
        }

        @media (max-width: 576px) {
          padding: 15px;
        }

        .whychoosecardboxtitle {
          display: flex;
          gap: 24px;
          align-items: center;
          margin: 0 0 30px 0;

          @media (max-width: 576px) {
            gap: 15px;
            margin: 0 0 20px 0;
          }

          .whychoosecardboxtitleicon {
            padding: 20px;
            border-radius: 50%;
            background: var(--gradientbuttonfilled);

            @media (max-width: 768px) {
              padding: 15px;
            }

            @media (max-width: 576px) {
              height: 50px;
            }

            svg {
              width: 40px;
              height: 40px;

              @media (max-width: 768px) {
                width: 30px;
                height: 30px;
              }
              @media (max-width: 576px) {
                width: 20px;
                height: 20px;
              }
            }
          }

          h4 {
            @include font24;
            color: var(--white);

            @media (max-width: 768px) {
              @include font20;
            }

            @media (max-width: 576px) {
              @include font18;
            }
          }
        }

        p {
          @include font18;
          color: var(--lightgray2);
          
          @media (max-width: 576px) {
            @include font16;
          }
        }
      }
    }

    .whychoosetitle {
      z-index: 2;
      position: relative;
      max-width: 377px;

      h1 {
        @include font50;
        text-align: center;
        @include fontgradient;
        
        @media (max-width: 1024px) {
          @include font35;
          display: none;
        }
      }
    }
  }
}
