@import "@/styles/theme/mixin.scss";

.planssectionmain {
  padding: 120px 0;
  margin: 0 20px;
  background: var(--darkblue);
  border-radius: 30px;

  @media (max-width: 1024px) {
    padding: 100px 0;
  }

  @media (max-width: 768px) {
    padding: 60px 0;
  }

  .planssection {
    .planbuttonactive {
      background: var(--gradientbuttonfilled) !important;
      transition: 0.4s ease-in-out;
      border: none !important;

      span {
        color: var(--white) !important;
      }
    }

    .planbutton {
      background: var(--transparent);
      border-radius: 60px;
      padding: 13px 24px;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      border: none;

      span {
        @include font16;
        color: var(--white);
      }

      @media (max-width: 1024px) {
        padding: 12px 20px;
      }
      @media (max-width: 768px) {
        padding: 10px 15px;
      }
    }

    .planssectiontitle {
      margin: 0 0 60px 0;
      h1 {
        @include font40;
        text-align: center;
        @include fontgradient;

        @media (max-width: 1024px) {
          @include font45;
        }
        @media (max-width: 768px) {
          @include font40;
          margin: 0 0 40px 0;
        }
        @media (max-width: 576px) {
          @include font33;
          margin: 0 0 30px 0;
        }
      }
    }

    .planssectiongrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .plantypedetailsboxmain {
        padding: 40px;
        background: var(--darkblue);
        border: 1px solid var(--lightblue);
        border-radius: 22px;

        @media (max-width: 1024px) {
          padding: 30px;
        }
        @media (max-width: 768px) {
          padding: 20px;
        }
        @media (max-width: 576px) {
          padding: 15px;
        }

        .palntimelinemain {
          margin: 0 0 40px 0;

          @media (max-width: 1024px) {
            margin: 0 0 30px 0;
          }

          @media (max-width: 768px) {
            margin: 0 0 20px 0;
          }

          .palntimelinebuttons {
            background-color: var(--lightgray3);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border-radius: 50px;
            width: 280px;

            @media (max-width: 576px) {
              width: 100%;
            }
          }
        }

        .slectedplandetails {
          h5 {
            @include font22;
            color: var(--white);
            margin: 0 0 30px 0;

            @media (max-width: 1024px) {
              @include font20;
              margin: 0 0 20px 0;
            }

            @media (max-width: 576px) {
              margin: 0 0 15px 0;
            }
          }

          .slectedplandetailsflxverticle {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media (max-width: 768px) {
              gap: 20px;
            }

            @media (max-width: 576px) {
              gap: 15px;
            }

            .slectedplandetailsgrd {
              display: grid;
              grid-template-columns: 26px 1fr;
              gap: 14px;
              align-items: center;

              @media (max-width: 768px) {
                grid-template-columns: 20px 1fr;
              }

              @media (max-width: 576px) {
                grid-template-columns: 18px 1fr;
              }

              svg {
                width: 26px;
                height: 26px;

                @media (max-width: 768px) {
                  width: 20px;
                  height: 20px;
                }

                @media (max-width: 576px) {
                  width: 18px;
                  height: 18px;
                }
              }

              p {
                @include font16;
                color: var(--lightgray4);

                span {
                  color: var(--white);
                }
              }
            }
          }
        }
      }

      .plantypeveticleflx {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 768px) {
          gap: 20px;
        }

        @media (max-width: 576px) {
          gap: 15px;
        }

        .plantypeboxactive {
          background: var(--gradientbuttonfilled) !important;

          .cuscheckbox {
            border-color: var(--white) !important;
            background: var(--gradientbuttonfilled) !important;
          }

          .planbutton {
            background: var(--white) !important;

            span {
              color: var(--bodyblack);
            }
          }
        }

        .plantypebox,
        .plantypeboxactive {
          cursor: pointer;
          border: 1px solid var(--lightblue);
          border-radius: 22px;
          background: var(--darkblue);
          padding: 33px 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          transition: 0.4s ease-in-out;

          @media (max-width: 1024px) {
            padding: 23px 30px;
          }
          
          @media (max-width: 576px) {
            padding: 18px 20px;
            flex-direction: column;
            align-items: start;
          }

          .plantypeboxandprice {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            width: 100%;

            @media (max-width: 768px) {
              gap: 20px;
            }

            @media (max-width: 576px) {
              gap: 15px;
              flex-direction: column;
              align-items: start;
            }

            .planname {
              display: flex;
              align-items: center;
              gap: 24px;

              @media (max-width: 768px) {
                gap: 20px;
              }

              @media (max-width: 576px) {
                gap: 15px;
              }

              .cuscheckbox {
                border: 2px solid var(--lightblue);
                background: var(--darkblue3);
                width: 26px;
                height: 26px;
                border-radius: 50%;
                transition: 0.2s ease-in-out;
              }

              p {
                @include font22;
                color: var(--white);
                
                @media (max-width: 768px) {
                  @include font18;
                }
                @media (max-width: 576px) {
                  @include font16;
                }
              }
            }

            .plantypeboxprice {
              display: flex;
              align-items: end;
              gap: 8px;

              h6 {
                @include font24;
                text-align: right;
                color: var(--white);
                
                @media (max-width: 768px) {
                  @include font20;
                }
                
                @media (max-width: 576px) {
                  @include font18;
                }
              }

              span {
                @include font16;
                text-align: right;
                color: var(--white);
                opacity: 0.6;
              }
            }
          }

          .planbutton {
            width: 100%;
            max-width: fit-content;
            background: var(--gradientbuttonfilled);
          }

          &:hover {
            background: var(--gradientbuttonfilled);

            .cuscheckbox {
              border-color: var(--white) !important;
              background: var(--gradientbuttonfilled) !important;
            }

            .planbutton {
              background: var(--white);

              span {
                color: var(--bodyblack);
              }
            }
          }
        }
      }
    }
  }
}
