@import "@/styles/theme/mixin.scss";

.powerfullsectionmain {
  margin: 0 20px;
  background-color: var(--darkblue);
  border-radius: 30px;
  padding: 120px 0;

  @media (max-width: 1024px) {
    padding: 100px 0;
  }
  @media (max-width: 768px) {
    padding: 60px 0;
  }

  .powerfullsection {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    .powerfullsectionleft {
      max-width: 480px;

      @media (max-width: 1024px) {
        max-width: none;
      }

      h1 {
        @include font40;
        @include fontgradient;
        margin: 0 0 16px 0;

        @media (max-width: 1024px) {
          @include font45;
        }
        @media (max-width: 768px) {
          @include font40;
          margin: 0 0 40px 0;
        }
        @media (max-width: 576px) {
          @include font33;
          margin: 0 0 30px 0;
        }
      }

      p {
        @include font18;
        color: var(--lightgray2);
        margin: 0 0 42px 0;

        @media (max-width: 576px) {
          @include font16;
        }
      }
    }

    .powerfullsectionright {
      max-width: 900px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;

      @media (max-width: 1024px) {
        max-width: none;
        gap: 30px;
      }
      @media (max-width: 576px) {
        gap: 20px;
      }

      .powerfullsectionrightbox {
        display: flex;
        justify-content: space-between;
        padding: 34px 0 0 0;
        gap: 30px;
        border-top: 1px solid var(--lightblue);

        @media (max-width: 768px) {
          padding: 25px 0 0 0;
          flex-direction: column;
          gap: 20px;
        }
        @media (max-width: 576px) {
          padding: 20px 0 0 0;
          gap: 18px;
        }

        h1 {
          word-break: break-word;
          @include font22;
          color: var(--white);
          max-width: 330px;
          width: 100%;

          span {
            margin: 0 20px 0 0;
          }

          @media (max-width: 768px) {
            @include font20;
          }

          @media (max-width: 576px) {
            @include font18;
          }
        }

        p {
          width: 100%;
          max-width: 450px;
          @include font16;
          color: var(--lightgray2);
          @media (max-width: 768px) {
            max-width: none;
          }
        }
      }
    }
  }
}
