.powerfullsectionmain {
  margin: 0 20px;
  background-color: #111427b2;
  border-radius: 30px;
  padding: 120px 0;

  .powerfullsection {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    .powerfullsectionleft {
      max-width: 550px;

      h1 {
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
        background: -webkit-linear-gradient(180deg, #bfabff 0%, #efebff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 0 16px 0;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #bfbfbf;
        margin: 0 0 42px 0;
      }
    }

    .powerfullsectionright {
      max-width: 900px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .powerfullsectionrightbox {
        display: flex;
        justify-content: space-between;
        padding: 34px 0 0 0;
        border-top: 1px solid #2f354b;

        h1 {
          font-size: 24px;
          font-weight: 500;
          line-height: 29px;
          color: #fff;
          max-width: 330px;

          span {
            margin: 0 20px 0 0;
          }
        }

        p {
          max-width: 450px;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #BFBFBF;
        }
      }
    }
  }
}
