@import "@/styles/theme/mixin.scss";

.commonbuttonsecondmain {
  background: var(--gradientbutton);
  padding: 2px;
  border-radius: 50px;
  border: none;

  &.commonbuttonsecondslim{
    .commonbuttonsecond {
      padding: 11px 20px;

      @media (max-width:576px) {
        padding: 8px 15px;
      }
    }
  }

  .commonbuttonsecond {
    background-color: var(--darkblue2);
    border-radius: 50px;
    cursor: pointer;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.4s ease-in-out;

    @media (max-width:1024px) {
      padding: 13px 20px;
    }

    svg {
      @media (max-width: 768px) {
        width: 25px;
        height: 25px;
      }
    }

    span {
      @include font16;
      color: var(--white);
      text-transform: uppercase;
    }

    &:hover {
      background: var(--gradientbuttonfilled);
    }
  }
}
