.commonbuttonsecondmain {
  background: linear-gradient(82.27deg, #00c0ff 0%, #421bb8 100%);
  padding: 2px;
  border-radius: 50px;

  .commonbuttonsecond {
    background-color: #0e1020;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 16px 30px;
    transition: 0.4s ease-in-out;

    @media (max-width:1024px) {
      padding: 13px 20px;
    }

    span {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: #fff;
      text-transform: uppercase;

      @media (max-width:768px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &:hover {
      background: linear-gradient(85.93deg, #00c0ff 0%, #4218b8 100%);
    }
  }
}
