@import "@/styles/theme/mixin.scss";

.footermain {
  padding: 120px 0 0 0;

  @media (max-width: 1024px) {
    padding: 100px 0 0 0;
  }

  @media (max-width: 768px) {
    padding: 60px 0 0 0;
  }

  .footercontentmain {
    border-top: 1px solid var(--lightcyan2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 60px 0 80px 0;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: start;
    }

    .footercontentleft {
      max-width: 553px;
      width: 100%;
      @media (max-width: 1024px) {
        max-width: none;
      }
      p {
        @include font18;
        color: var(--lightgray4);
        margin: 20px 0 0 0;
      }
    }

    .footercontentright {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 116px;
      
      @media (max-width: 1024px) {
        width: 100%;
      }
      
      @media (max-width: 576px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // grid-template-columns: repeat(1, 1fr);
        gap: 40px;
      }

      .footerlinksboxmain {
        p {
          @include font22;
          color: var(--white);
          margin: 0 0 31px 0;
          
          @media (max-width:576px) {
            margin: 0 0 30px 0;
          }
        }

        .footerlinksflx {
          display: flex;
          flex-direction: column;
          gap: 24px;
          a {
            @include font18;
            //   text-transform: uppercase;
            color: var(--lightgray4);
            transition: 0.4s ease-in-out;

            &:hover {
              color: var(--white);
            }

            @media (max-width:576px) {
              @include font16;
            }
          }
        }
      }
    }
  }

  .footercopyrightlinemain {
    border-top: 1px solid var(--lightcyan2);
    padding: 21px 0 27px 0;

    .footercopyrightlineflx {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      @media (max-width:1024px) {
        flex-direction: column;
        gap: 20px;
      }
      @media (max-width:576px) {
        gap: 15px;
      }

      p {
        @include font18;
        color: var(--lightgray4);
        
        @media (max-width:768px) {
          @include font16;
        }
      }

      .footersocialmediaicons {
        display: flex;
        align-items: center;
        gap: 16px;

        .footersocialmedialink {
          background: var(--darkblue);
          border: 1px solid var(--lightblue);
          border-radius: 50%;
          padding: 14px;
          height: 52px;

          @media (max-width: 576px) {
            padding: 10px;
            height: 44px;
          }

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}
