@import "@/styles/theme/mixin.scss";

.homeherobannermain {
  padding: 210px 0 140px 0;
  // background-image: url("../../../../assets/image/starsbackground.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  position: relative;

  @media (max-width: 1024px) {
    padding: 120px 0 100px 0;
  }
  @media (max-width: 768px) {
    padding: 90px 0 60px 0;
  }

  .homeherobannerhshapedbgimage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;

    img {
      max-width: 1197px;
    }
  }

  .herobannertopcontent {
    position: relative;
    z-index: 1;
    max-width: 964px;
    margin: 0 auto 60px auto;
    h1 {
      @include font50;
      color: var(--white);
      text-align: center;
      margin: 0 auto 18px auto;

      @media (max-width: 1024px) {
        @include font45;
      }

      @media (max-width: 768px) {
        @include font40;
        max-width: 650px;
      }
      @media (max-width: 568px) {
        @include font33;
      }

      .herobannerdetectaibox {
        display: inline-block;
        padding: 3px 25px;
        background: linear-gradient(82deg, #00c0ff, #421bb8);
        border-radius: 19px;
        position: relative;

        @media (max-width: 768px) {
          padding: 3px 20px;
        }
        @media (max-width: 576px) {
          padding: 3px 15px;
          border-radius: 10px;
        }

        &::before {
          left: 12.5px;

          @media (max-width: 768px) {
            left: 10px;
          }

          @media (max-width: 576px) {
            left: 6.5px;
          }
        }

        &::after {
          right: 12.5px;

          @media (max-width: 768px) {
            right: 10px;
          }

          @media (max-width: 576px) {
            right: 6.5px;
          }
        }

        &::before,
        &::after {
          content: "";
          border-left: 2px solid #fff;
          height: 40px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          @media (max-width: 768px) {
            height: 30px;
          }

          @media (max-width: 576px) {
            height: 20px;
          }
        }

        span {
          display: block;
          padding: 0 20px;
          border-radius: 20px;
          line-height: 73px;
          background-color: #060610;

          @media (max-width: 768px) {
            line-height: 60px;
          }

          @media (max-width: 576px) {
            line-height: 40px;
            border-radius: 12px;
          }
        }
      }
    }
    .herobannerparagraph {
      @include font18;
      color: var(--lightgray2);
      text-align: center;

      @media (max-width: 576px) {
        @include font16;
      }
    }
  }

  .herobannerchatsectionmain {
    position: relative;
    z-index: 1;
    background-color: var(--darkblue);
    border: 1px solid var(--lightblue);
    padding: 30px;
    border-radius: 30px;

    @media (max-width: 768px) {
      padding: 20px;
    }

    .herobannereffectbuttonmainflx {
      display: flex;
      gap: 20px;
      margin: 0 0 18px 0;

      @media (max-width:576px) {
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: repeat(1,1fr);
        // width: fit-content;

        // button {
        //   width: 100%;
        // }
      }

      .herobannereffectbuttonmain {
        background: var(--gradientbutton);
        padding: 2px;
        border-radius: 50px;

        .herobannereffectbutton {
          background-color: var(--darkblue2);
          border-radius: 50px;
          border: none;
          cursor: pointer;
          padding: 11px 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          transition: 0.4s ease-in-out;

          span {
            @include font18;
            color: var(--white);
            text-transform: uppercase;

            @media (max-width: 768px) {
              @include font16;
            }
          }

          svg {
            @media (max-width: 768px) {
              width: 25px;
              height: 25px;
            }
          }

          &:hover {
            background: var(--gradientbuttonfilled);
          }
        }
      }
    }

    .herobannerchatboxgrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border: 1px solid var(--darkgray);
      border-radius: 20px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .herobannerchat:nth-child(2n + 2) {
        border-right: none;

        @media (max-width: 1024px) {
          border-bottom: none;
        }
      }

      .herobannerchat {
        padding: 30px;
        border-right: 1px solid var(--darkgray);
        position: relative;

        @media (max-width: 1024px) {
          padding: 20px;
          border-right: none;
          border-bottom: 1px solid var(--darkgray);
        }

        @media (max-width: 576px) {
          padding: 12px;
        }

        textarea {
          width: 100%;
          height: 480px;
          border: none;
          resize: none;
          background: var(--transparent);
          @include font20;
          color: var(--lightgray2);

          &:focus {
            outline: none;
          }

          @media (max-width: 1024px) {
            height: 400px;
            @include font18;
          }

          @media (max-width: 576px) {
            @include font16;
          }
        }

        .herobannerchatbottom {
          position: absolute;
          bottom: 30px;
          left: 30px;
          width: calc(100% - 60px);
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 30px;

          @media (max-width: 768px) {
            bottom: 20px;
            left: 20px;
            width: calc(100% - 40px);
          }
          
          @media (max-width: 576px) {
            bottom: 12px;
            left: 12px;
            width: calc(100% - 24px);
          }

          .herobannerchataitotalwords {
            span {
              @include font20;
              color: var(--white);

              @media (max-width: 768px) {
                @include font18;
              }
            }
          }
        }
      }
    }
  }
}
